@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --white: #fff;
    --font-size: 18px;
    --ffamily: 'Rubik';
    --grayish-white: #fafafa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--font-size);
    font-family: var(--ffamily);
}

#nav-page {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-top: 2em;
}

#nav-page ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-page ul li {
    list-style: none;
    margin-left: 1em;
}

#nav-page ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--very-dark-blue);
    font-weight: 400;
    font-size: 14px;
}

#nav-page ul li a:hover {
    color: var(--soft-red);
}

#login {
    background-color: var(--soft-red);
    padding: 0.5em 1.5em;
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 5px 5px var(--grayish-blue);
    border: 1px solid var(--soft-red);
}

#nav-page #login a {
    color: var(--white);
}

#nav-page #login:hover a {
    color: var(--soft-red);
}

#login:hover {
    background-color: var(--white);
}

.home {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-top: 5em;
}

.home-text {
    display: flex;
    flex-direction: column;
}

.home-text h1 {
    color: var(--very-dark-blue);
    font-weight: 500;
    font-size: 56px;
}

.home-text p {
    line-height: 28px;
    margin: 2em 0;
    color: var(--grayish-blue);
}

.buttons {
    display: flex;
}

.get-chrome {
    color: var(--white);
    padding: 1em 1.5em;
    margin-right: 0.7em;
    background-color: var(--soft-blue);
    border: 1px solid var(--soft-blue);
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 5px 5px var(--grayish-blue);
}

.get-chrome:hover {
    color: var(--soft-blue);
    background-color: var(--white);
}

.get-firefox {
    background-color: var(--grayish-white);
    padding: 1em 1.5em;
    margin-right: 0.7em;
    color: var(--soft-blue);
    border: 1px solid var(--grayish-white);
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 5px 5px var(--grayish-blue);
}

.get-firefox:hover {
    background-color: var(--white);
    border: 1px solid var(--soft-blue);
}
