@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --white: #fff;
    --font-size: 18px;
    --ffamily: 'Rubik';
    --grayish-white: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-size);
    font-family: var(--ffamily);
    letter-spacing: 1.5px;
}

/*navigation */

#nav-page {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-top: 2em;
}

#nav-page ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-page ul li {
    list-style: none;
    margin-left: 1em;
}

#nav-page ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--very-dark-blue);
    font-weight: 400;
    font-size: 14px;
}

#nav-page ul li a:hover {
    color: var(--soft-red);
}

#login {
    background-color: var(--soft-red);
    padding: 0.5em 1.5em;
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 5px 5px var(--grayish-blue);
    border: 1px solid var(--soft-red);
}

#nav-page #login a {
    color: var(--white);
}

#nav-page #login:hover a {
    color: var(--soft-red);
}

#login:hover {
    background-color: var(--white);
}

/* Home section */

.home {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-top: 5em;
}

.home-text {
    display: flex;
    flex-direction: column;
}

.home-text h1 {
    color: var(--very-dark-blue);
    font-weight: 500;
    font-size: 56px;
}

.home-text p {
    line-height: 28px;
    margin: 2em 0;
    color: var(--grayish-blue);
}

.buttons {
    display: flex;
}

.get-chrome {
    color: var(--white);
    padding: 1em 1.5em;
    margin-right: 0.7em;
    background-color: var(--soft-blue);
    border: 1px solid var(--soft-blue);
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 5px 5px var(--grayish-blue);
}

.get-chrome:hover {
    color: var(--soft-blue);
    background-color: var(--white);
}

.get-firefox {
    background-color: var(--grayish-white);
    padding: 1em 1.5em;
    margin-right: 0.7em;
    color: var(--soft-blue);
    border: 1px solid var(--grayish-white);
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 5px 5px var(--grayish-blue);
}

.get-firefox:hover {
    background-color: var(--white);
    border: 1px solid var(--soft-blue);
}

.home {
    position: relative;
    flex-basis: 50%;
}

.home-image {
    position: relative;
}

.home-image::after {
	content: " ";
	width: 80%;
	background: var(--soft-blue);
	border-radius: 0 0 0 50%;
	position: absolute;
	right: -27%;
	height: 75%;
	top: 25%;
    z-index: -1;
}

/* Features section */

#features {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-top: 15em;
    text-align: center;
    margin-bottom: 3em;
}

#features h2 {
    margin-bottom: 1.8em;
    font-size: 30px;
}

#features .subtitle {
    line-height: 28px;
    color: var(--grayish-blue);
    width: 50%;
    margin: auto;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid var(--grayish-blue);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}
  
.tab button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 22px;
    transition: 0.3s;
    font-size: 20px;
    width: 100%;
    
}
  
.tab button:hover {
    color: var(--soft-red);
    border-bottom: 3px solid var(--soft-red);
}

.tab button.active {
    color: var(--soft-red);
    border-bottom: 3px solid var(--soft-red);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 3em;
}  

.tabcontent .items {
    display: flex;
    justify-content: space-between;
}

#features p {
    line-height: 28px;
    color: var(--grayish-blue);
    justify-content: left;
}

.items-desc {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em 2em;
    text-align: left;
}

.more-info {
    width: 25%;
    color: var(--white);
    padding: 1em 1.5em;
    margin-right: 0.7em;
    background-color: var(--soft-blue);
    border: 1px solid var(--soft-blue);
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 5px 5px var(--grayish-blue);
    margin-top: 2em;
}

.more-info:hover {
    color: var(--soft-blue);
    background-color: var(--white);
}

.items-desc h2 {
    margin-bottom: 2em;
}

.feature-img {
    position: relative;
}

.feature-img::after {
	content: " ";
	width: 90%;
	background: var(--soft-blue);
	border-radius: 0 0 50% 0 ;
	position: absolute;
	left: -55%;
	height: 90%;
	top: 25%;
    z-index: -1;
}

/* Download the extension */

#pricing {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-top: 15em;
    text-align: center;
    margin-bottom: 3em;
}

#pricing h2 {
    margin-bottom: 1.8em;
    font-size: 30px;
}

#pricing .download-desc {
    line-height: 28px;
    color: var(--grayish-blue);
    width: 50%;
    margin: auto;
}

.download-extension {
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: 70vh;
    align-items: center;
    padding: 2em 0;
}

.extension {
    box-shadow: 0 5px 5px var(--grayish-blue);
    border-radius: 7px;
    flex-basis: 30%;
    padding: 2em 0;
}

#chrome {
    align-self: flex-start;
}

#opera {
    align-self: flex-end;
}

.install {
    width: 57%;
    color: var(--white);
    padding: 1em 0;
    margin-right: 0.7em;
    background-color: var(--soft-blue);
    border: 1px solid var(--soft-blue);
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 5px 5px var(--grayish-blue);
    margin-top: 2em;
}

.install:hover {
    color: var(--soft-blue);
    background-color: var(--white);
}

.dots {
    margin-top: 3em;
}

.version {
    margin-top: 2em;
    line-height: 28px;
    color: var(--grayish-blue);
    letter-spacing: 0.2;
}

.extension h3 {
    margin-top: 1em;
}

/* Frequently Asked Questions */

#questions {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    margin-top: 10em;
    text-align: center;
    margin-bottom: 3em;
}

#questions h2 {
    margin-bottom: 1.8em;
    font-size: 30px;
}

#questions .question-desc {
    line-height: 28px;
    color: var(--grayish-blue);
    width: 50%;
    margin: auto;
    margin-bottom: 1.5em;
}

.faq {
    width: 67%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2em;
}

details {
    border-bottom: 1px solid gray;
    padding: 2em 2em;
    text-align: left;
}

details summary {
    margin-top: 0.2em;
    color: var(--very-dark-blue);
}

details p {
    margin-top: 1em;
    line-height: 28px;
    color: var(--grayish-blue);
}

.faq-info {
    display: flex;
    margin: auto;
    color: var(--white);
    padding: 1em 1.5em;
    background-color: var(--soft-blue);
    border: 1px solid var(--soft-blue);
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 5px 5px var(--grayish-blue);
}

.faq-info:hover {
    color: var(--soft-blue);
    background-color: var(--white);
}

details:hover {
    color: var(--soft-red);
    background:white;
    cursor: pointer;
}

/* Sign-up ---- contact section */

#contact {
    background-color: var(--soft-blue);
    margin-top: 5%;
    padding: 2% 0 5% 0;
    text-align: center;
    color: var(--white);
}

#contact p {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    font-weight: 400;
    text-transform: uppercase;
}

#contact h2 {
    margin-bottom: 2em;
    font-weight: 500;
}

form {
    display: flex;
    justify-content: space-between;
    width: 22%;
    margin: auto;
}

form input {
    border: none;
    border-radius: 6px;
    padding: 0.8em 2em;
    outline: none;
}

form label input[type="text"]{
    width: 100%;
    padding: 0.8em;
}

form input[type="submit"]{
    border: 1px solid var(--soft-red);
    background-color: var(--soft-red);
    color: var(--white);
    cursor: pointer;
}

form input[type="submit"]:hover{
    background-color: var(--white);
    color: var(--soft-red);
}

.result {
    background-color: var(--soft-red);
    color: var(--white);
    width: 22%;
    display: flex;
    margin: auto;
    font-size: 13px;
    border-radius: 5px;
}

/* Footer */

footer {
    background-color: var(--very-dark-blue);
    padding: 1em 0;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.navbar ul {
    display: flex;
    margin-left: 15%;
}

.navbar ul li {
    list-style: none;
    justify-content: left;
    margin: 0 1em;
}

.navbar ul li a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: var(--soft-red);
}

.social {
    display: flex;
}

.item {
    margin-left: 2em;
}

.item:hover {
    cursor: pointer;
}




